[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CongreveLamsdell2016"]
	path = CongreveLamsdell2016
	url = https://github.com/ms609/congrevelamsdell2016
[submodule "PlotTools"]
	path = PlotTools
	url = https://github.com/ms609/plottools
[submodule "Quartet"]
	path = Quartet
	url = https://github.com/ms609/quartet
[submodule "Rdpack"]
	path = Rdpack
	url = https://github.com/GeoBosh/Rdpack
	registered = false
[submodule "Rogue"]
	path = Rogue
	url = https://github.com/ms609/rogue
[submodule "TBRDist"]
	path = TBRDist
	url = https://github.com/ms609/tbrdist
[submodule "Ternary"]
	path = Ternary
	url = https://github.com/ms609/ternary
[submodule "TotalCopheneticIndex"]
	path = TotalCopheneticIndex
	url = https://github.com/cran/TotalCopheneticIndex
[submodule "TreeDist"]
	path = TreeDist
	url = https://github.com/ms609/treedist
[submodule "TreeSearch"]
	path = TreeSearch
	url = https://github.com/ms609/treesearch
[submodule "TreeTools"]
	path = TreeTools
	url = https://github.com/ms609/treetools
